body {
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline; 
   background: blueviolet;
   }
   
   h1{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 10px;
       font-weight: lighter;
       color: rgb(170, 43, 170);
   }
   
   main{
       background-color: blueviolet;
   }